<button nz-button (click)="onBack()">Back</button>

<div *ngIf="department">
<div nz-row>
  <div nz-col nzSpan="12">
    <h1>{{department.Name}}</h1>
  </div>
</div>


  <div nz-row>
      <h5>Description: </h5> 
      <div nz-col nzSpan="12">
       {{department.Description}}
      </div>
  </div>

  <div nz-row>
      <h5>Managing Department: </h5>
    <div nz-col nzSpan="12">
      <span *ngIf="department.ParentDepartment != null">{{department.ParentDepartment.Name}}</span>
      <span *ngIf="department.ParentDepartment == null">None</span>
    </div>
</div>

<div nz-row>
    <h5>Departments under Management: </h5>
  <div nz-col nzSpan="12" >
    <div *ngFor="let child of department.Children">
    <span> {{ child.Name }} </span>
  </div>
  </div>

</div>
</div>
