<button nz-button (click)="onNew()" > New Organisation</button>

<hr>

<nz-table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Root</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let org of orgService.list" >
                <td (click)="onRowClicked(org)" style="cursor:pointer;">{{org.Name}}</td>
                <td>{{org.Description}}</td>
                <td>{{org.root.Name }}</td>

                <td>
                    <i nz-icon nzType="edit" nzTheme="twotone" style="cursor:pointer;" (click)="onEdit(org)"></i>
                  <nz-divider nzType="vertical"></nz-divider>
                  <i nz-icon nzType="delete" nzTheme="twotone" style="cursor:pointer;" [nzTwotoneColor]="'#eb2f96'" (click)="onDelete(org)"></i>
                </td>
        
              </tr>
              
            </tbody>
</nz-table>
        