<div nz-row>
  <div nz-col nzSpan="12" nzOffset="6">
<form (ngSubmit)="onSubmit()" #form="ngForm" nz-form>
  <nz-form-item>
    <nz-form-label nzFor="name">Organisation Name</nz-form-label>
      <nz-form-control>
        <input nz-input id="name" data-cy="nameOrg" ngModel name="name" required #name="ngModel">
        <nz-form-explain *ngIf="name.invalid && name.touched">Name is required</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="desc">Organisation Description</nz-form-label>
    <textarea class="form-control" rows="5" id="desc" data-cy="descOrg" ngModel name="description" required #desc="ngModel"> </textarea>
    <nz-form-explain *ngIf="desc.invalid && desc.touched">Description is required</nz-form-explain>
  </nz-form-item>

  <h3>Root</h3>

  <nz-form-item>
    <nz-form-label nzFor="rootName">Root Name</nz-form-label>
      <nz-form-control>
        <input nz-input id="rootName" data-cy="rootName" ngModel name="rootName" required #rootName="ngModel">
        <nz-form-explain *ngIf="rootName.invalid && rootName.touched">Name is required</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="rootDesc">Root Description</nz-form-label>
    <textarea class="form-control" rows="5" id="rootDesc" data-cy="rootDesc" ngModel name="rootDescription" required #rootDesc="ngModel"> </textarea>
    <nz-form-explain *ngIf="rootDesc.invalid && rootDesc.touched">Description is required</nz-form-explain>
  </nz-form-item>

  <button type="submit" data-cy="submitOrg" nz-button [disabled]="!form.valid">Submit</button>
</form>

</div>
</div>